# CLASSIFICATION CONFIG
app: vjepa
cpus_per_task: 32
folder: /mnt/custom-file-systems/efs/fs-0049217cdf69186d7_fsap-0fa7145b64eaa046b/vjepa2/evals/vitg-384/classifier
mem_per_gpu: 80G
nodes: 1
tasks_per_node: 8
num_workers: 8

eval_name: video_classification_frozen
resume_checkpoint: false
tag: uhn22k-classifier-echoprime

experiment:
  classifier:
    num_heads: 16           # ARCHITECTURE: Must divide 1408 (1408/16 = 88). Do not change.
    num_probe_blocks: 4     # Standard attentive probe depth

  data:
    dataset_type: VideoDataset
    dataset_train: /home/sagemaker-user/user-default-efs/vjepa2/data/csv/uhn_views_22k_train.csv
    dataset_val:   /home/sagemaker-user/user-default-efs/vjepa2/data/csv/uhn_views_22k_val.csv
    num_classes: 13
    resolution: 224
    frames_per_clip: 16
    
    # SAMPLING (Optimized for Cardiac Cycle)
    frame_step: 2           # ~1.28s context
    num_segments: 2         # Efficient temporal coverage
    num_views_per_segment: 1

  optimization:  
    batch_size: 1  
    # PRUNED REGRESSION GRID  
    multihead_kwargs:  
    # --- Group 1: 1e-4 ---  
    - final_lr: 0.0  
      final_weight_decay: 0.01  
      lr: 0.0001  
      start_lr: 0.0001  
      warmup: 0.0  
      weight_decay: 0.01  
    - final_lr: 0.0  
      final_weight_decay: 0.1  
      lr: 0.0001  
      start_lr: 0.0001  
      warmup: 0.0  
      weight_decay: 0.1  
    - final_lr: 0.0  
      final_weight_decay: 0.4  
      lr: 0.0001  
      start_lr: 0.0001  
      warmup: 0.0  
      weight_decay: 0.4  
  
    # --- Group 2: 5e-5 ---  
    - final_lr: 0.0  
      final_weight_decay: 0.01  
      lr: 0.00005  
      start_lr: 0.00005  
      warmup: 0.0  
      weight_decay: 0.01  
    - final_lr: 0.0  
      final_weight_decay: 0.1  
      lr: 0.00005  
      start_lr: 0.00005  
      warmup: 0.0  
      weight_decay: 0.1  
    - final_lr: 0.0  
      final_weight_decay: 0.4  
      lr: 0.00005  
      start_lr: 0.00005  
      warmup: 0.0  
      weight_decay: 0.4  
        
    num_epochs: 20  
    use_bfloat16: true  
    use_pos_embed: false  

model_kwargs:
  checkpoint: null
  module_name: evals.video_classification_frozen.modelcustom.echo_prime_encoder
  pretrain_kwargs: {}
  wrapper_kwargs:
    echo_prime_root: /home/sagemaker-user/user-default-efs/vjepa2/evals/video_classification_frozen/modelcustom/EchoPrime
    # or set explicit absolute paths:
    # encoder_ckpt: /.../model_data/weights/echo_prime_encoder.pt
    # view_ckpt: /.../model_data/weights/view_classifier.pt
    force_fp32: true
    bin_size: 50