# configs/eval/vitl/lvef.yaml
# REGRESSION CONFIG  
app: vjepa  
cpus_per_task: 32  
folder: /home/sagemaker-user/user-default-efs/vjepa2/evals/vitl/lvef_regression
mem_per_gpu: 80G  
nodes: 1  
tasks_per_node: 8  
num_workers: 8  
  
# Use existing evaluation infrastructure  
eval_name: video_classification_frozen  
resume_checkpoint: true  
tag: echojepa-vitl-lvef

experiment:
  classifier:  
    task_type: regression 
    num_heads: 16  
    num_probe_blocks: 4  
    num_targets: 1
    
  data:  
    dataset_type: VideoDataset  
    dataset_train: /home/sagemaker-user/user-default-efs/vjepa2/data/csv/a4c_b_lvef_train_224px.csv
    dataset_val:   /home/sagemaker-user/user-default-efs/vjepa2/data/csv/a4c_b_lvef_val_224px.csv
      
    resolution: 224  
    frames_per_clip: 16  
    frame_step: 2  
    num_segments: 2  
    num_views_per_segment: 1  

    target_mean: 57.0569
    target_std: 11.3252
    
  optimization:  
    batch_size: 1  
    # PRUNED REGRESSION GRID  
    multihead_kwargs:  
    # --- Group 1: 1e-4 ---  
    - final_lr: 0.0  
      final_weight_decay: 0.01  
      lr: 0.0001  
      start_lr: 0.0001  
      warmup: 0.0  
      weight_decay: 0.01  
    - final_lr: 0.0  
      final_weight_decay: 0.1  
      lr: 0.0001  
      start_lr: 0.0001  
      warmup: 0.0  
      weight_decay: 0.1  
    - final_lr: 0.0  
      final_weight_decay: 0.4  
      lr: 0.0001  
      start_lr: 0.0001  
      warmup: 0.0  
      weight_decay: 0.4  
  
    # --- Group 2: 5e-5 ---  
    - final_lr: 0.0  
      final_weight_decay: 0.01  
      lr: 0.00005  
      start_lr: 0.00005  
      warmup: 0.0  
      weight_decay: 0.01  
    - final_lr: 0.0  
      final_weight_decay: 0.1  
      lr: 0.00005  
      start_lr: 0.00005  
      warmup: 0.0  
      weight_decay: 0.1  
    - final_lr: 0.0  
      final_weight_decay: 0.4  
      lr: 0.00005  
      start_lr: 0.00005  
      warmup: 0.0  
      weight_decay: 0.4  
        
    num_epochs: 20  
    use_bfloat16: true  
    use_pos_embed: false  
    
model_kwargs:
  checkpoint: /home/sagemaker-user/user-default-efs/vjepa2/checkpoints/anneal/keep/vitl-pt-210-an25.pt
  module_name: evals.video_classification_frozen.modelcustom.vit_encoder_multiclip
  pretrain_kwargs:
    encoder:
      checkpoint_key: target_encoder
      img_temporal_dim_size: null
      model_name: vit_large
      patch_size: 16
      tubelet_size: 2
      uniform_power: true
      use_rope: true
  wrapper_kwargs:
    max_frames: 128
    use_pos_embed: false
